@use 'base/variables' as v;
@use 'base/mixins' as m;

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center; // Centra los elementos dentro del formulario
    margin-top: 2rem;
    .boton{
        @include m.telefono{
            font-size: x-large;
            padding: 1.5rem 3rem;
        }
        border-radius: .5rem;
        max-width: 50%;
        min-width: 150px; // Ancho mínimo para evitar que el texto se corte
        text-align: center; // Centra el texto dentro del botón
        padding: 1rem 1rem; // Añade padding para asegurar espacio alrededor del texto
        font-size: large;
        margin-top: 3rem;
        margin-bottom: -3rem;
    }
    label{
        font-size: 2rem;
        margin-bottom: .4rem;
        text-align: center;
    }
}


.campo{
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
    max-width: 75%;
    width: 100%; // Asegura que los inputs ocupen el 100% del contenedor


    input{
        @include m.telefono{
            height: 5.5rem;
            font-size: 2.3rem;
        }

        flex: 1;
        border: none;
        padding: calc(v.$separacion / 4);
        background-color: darken(v.$negro, 2.5);
        border-radius: 1rem;
        font-family: v.$fuente_principal;
        font-weight: bold;
        text-align: center;
        color: v.$grisClaro;
        cursor: pointer;

        &::placeholder{
            color: v.$grisClaro;
        }
        
        &:focus {
            outline: none; // Elimina el borde predeterminado
            &::placeholder{
                color: transparent;
            }
        }
        &:not(:placeholder-shown) {
            background-color: v.$grisClaro; // Cambia el color de fondo cuando el campo está relleno
            color: v.$negro;
        }

        &:disabled{
            background-color: darken(v.$grisClaro, 30%);
            cursor: not-allowed;
        }
    }
}

